{% extends "base_template.html" %}
{% block content %}
<h1>People Database</h1>
<div >
{% for person in people %}

    Last Name: {{person.last_name}} <br>
    First name: {{person.first_name}} <br>
    Country: {{person.country}} <br>
    City: {{person.city}} <br>
    Street: {{person.street}} <br>
    Number: {{person.number}} <br>
    Latitude: {{person.latitude}}<br>
    Longitude: {{person.longitude}}<br>
    Products: {{person.products}}<br>
    <br>
</div>
{% endfor %}
</ul>
{% endblock%}